.color-card {
  margin: 0px 10px;
  padding: 5px;
}

.color-card-highlight {
  display: inline;
  padding: 2px 6px;
  background: black;
  color: white;
}

.color-contrast-yup {
  color: black;
  background: green;
}

.color-contrast-kinda {
  color: black;
  background: orange;
}

.color-contrast-nope {
  color: black;
  background: red;
}
